
@{
    Layout = null;
}
<div class="modal-body">
    <table>
        <tr valign="middle">
            <td class="pd_0_15">
                <img src="~/Content/Images/loading.gif" alt="" />
            </td>
            <td class="fs_14" ng-bind-html="content"></td>
        </tr>
    </table>
</div>

