@{
    Layout = "~/Views/Shared/_AngularLayout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/Apps/Dictionary/NotificationApp.js"></script>
    <script src="~/Scripts/Controllers/NotificationController.js"></script>
    <script src="~/Scripts/Services/NotificationService.js"></script>
}

<div ng-view></div>