@{

}
<div>
    <div>
        <table>
            <tr>
                <td>标题:</td>
                <td>@Model.ArticleTile</td>
            </tr>
            <tr>
                <td>类别:</td>
                <td>@Model.AritcleType.AritcleTypeDesc</td>
            </tr>
            <tr>
                <td valign="top">内容:</td>
                <td>@MvcHtmlString.Create(Model.ArticleBody)</td>
            </tr>
        </table>
    </div>
</div>