
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv=Content-Type content="text/html;charset=utf-8"/>
    <title>Home2</title>
</head>
<body>
       <div style="width: 120px;" id="divInfo">
            <ul>
                <li><a href="/home/Personal/#dictionary">字典管理</a></li>
                <li><a href="/home/Personal/#taskwork">任务列表</a></li>
                <li><a href="/home/Personal/#remindRegister">提醒管理</a></li>
                <li><a href="/home/Personal/#remind">提醒列表</a></li>
                <li><a href="/home/Personal/#login">登陆</a></li>
                <li><a href="/closure/typeahead#/closure/Create">流程创建</a></li>
                 <li><a href="/closure/typeahead#/closure/ProjectList">项目列表</a></li>
            </ul></div>
</body>
</html>
