@using System.Web.Optimization;
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_AngularLayout.cshtml";
}
@section scripts{
    @Scripts.Render("~/Scripts/MainApp")
@Scripts.Render("~/Scripts/Services/CommentsListService.js")
@Scripts.Render("~/Scripts/Controllers/CommentsListController.js")
}
<div ng-view></div>

