@{
    Layout = "~/Views/Shared/_AngularLayout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/Apps/Dictionary/RemindApps.js"></script>

    <script src="~/Scripts/Controllers/RemindController.js"></script>
    <script src="~/Scripts/Services/RemindServices.js"></script>

}

<div ng-view></div>

