@{
    Layout = null;
}

<form class="form-horizontal" name="frmMain">
    <task-reminder />
    <top-nav project-id="{{projectId}}" flow-code="Closure" sub-code="Closure_ClosurePackage" place-holder="8"></top-nav>
    <cheking-point project-id="projectId" flow-code="Closure_ClosurePackage" refresh="checkPointRefresh"></cheking-point>

    <store-basic-info project="ClosureInfo" code="ClosureInfo.USCode"></store-basic-info>

    <notification-message project-id="projectId"
        flow-code="Closure"
        sub-flow-code="Closure_ClosurePackage"
        node-id="entity.Id"
        uscode="ClosureInfo.USCode"></notification-message>

    <div class="panel panel-black mg_t_10">
        <div class="panel-heading">
            <span class="panel-icon"></span>
            <span class="panel-title">[[[Executive Summary]]]
            </span>
        </div>
        <table class="table table-bordered">
            <tr>
                <td>[[[关店类型]]]</td>
                <td>{{ClosureInfo.ClosureTypeNameENUS}}</td>

                <td>[[[Original CF NPV]]]</td>
                <td>{{entity.OriginalCFNPV| money}}</td>
            </tr>
            <tr>
                <td>[[[租约到期日期]]]</td>
                <td>{{store.StoreContractInfo.EndDate | date:"yyyy-MM-dd"}}</td>
                <td>[[[LandloadName]]] </td>
                <td colspan="3">{{ClosureInfo.LandlordName}}</td>

            </tr>
            <tr>
                <th colspan="6">[[[OI Impact on Current Year]]]</th>
            </tr>
            <tr>
                <td>[[[Total write off data]]]</td>
                <td>{{ClosureTool.TotalOneOffCosts| money}}</td>
                <td>[[[Compensation]]] </td>
                <td>{{ClosureTool.Compensation| money}}</td>
                <td>[[[Net Operating Income]]]</td>
                <td>{{entity.NetOperatingIncome| money}}
                </td>
            </tr>
            <tr>
                <th colspan="6">[[[Current Future Impact]]]</th>
            </tr>
            <tr>
                <td>[[[迁址?]]]</td>
                <td>{{entity.IsRelocation|boolFilter}}
                </td>
                <td>[[[Relocation Pipeline ID]]] </td>
                <td>{{entity.RelocationPipelineID}}
                </td>
                <td>[[[Pipeline Name]]]</td>
                <td>{{entity.PipelineName}}
                </td>
            </tr>
            <tr>
                <td>[[[New Site Net CF NPV]]]</td>
                <td>{{entity.NewSiteNetCFNPV| money}}
                </td>
                <td>[[[Other CF NPV]]] </td>
                <td>
                    <input name="otherCFNPV" type="text" valnumber class="form-control" ng-model="entity.OtherCFNPV" />
                    <div ng-show="$submited||frmMain.otherCFNPV.$dirty">
                        <span class="ng-error" ng-show="frmMain.otherCFNPV.$error.valnumber">[[[请输入数字]]]</span>
                    </div>
                </td>
                <td>[[[Net CF NPV（RMB）]]]</td>
                <td>

                    <span id="spNetGain" ng-show="!!entity.NetGain">{{entity.NetGain |money}}
                    </span>

                </td>
            </tr>
        </table>
    </div>

    <div class="panel panel-black mg_t_10">
        <div class="panel-heading">
            <span class="panel-icon"></span>
            <span class="panel-title">[[[Reason Description for Negative Net CF NPV]]]
            </span>
        </div>
        <div class="panel-body">
            <textarea class="form-control" rows="4" ng-model="entity.ReasonDescriptionForNegativeNetGain"></textarea>
        </div>
    </div>

    <attachments ref-table-name="ClosurePackage"
        project-id="{{projectId}}"
        flow-code="Closure_ClosurePackage"
        editable="false"
        show-pack-download="true"
        upload-set="['1d548fdd-15e6-42a2-afc7-c972e7f2e6d1']"></attachments>

    <approval-records ref-table-id="entity.Id" ref-table-name="ClosurePackage" workflow-type="Closure"></approval-records>
    <comment comments="entity.Comments" title="[[[意见]]]" editable="true"></comment>
    <project-history page-url="/closure/Main#/ClosurePackage/Process/View?projectId={{projectId}}" project-id="projectId" table-name="ClosurePackage" title=" ClosurePackage History" has-template="false" title-name="ClosurePackage"></project-history>

    <div class="form-actions ta_c">
        <button type="button" class="btn btn-lg btn-orange" ng-click="save('ReSubmit')"><span class="fa fa-paste"></span>[[[保存]]]</button>
        <button type="button" class="btn btn-lg btn-red" ng-click="beginSelApprover(frmMain, ClosureInfo)" form-submit><span class="fa fa-check"></span>[[[呈递]]]</button>
    </div>
</form>
