@{
    ViewBag.Title = "订单管理";
    ViewBag.PageTitle = "订单管理";
    ViewBag.ScriptPath = "<script src =\"" + Url.Content("~/Areas/ManageSite/Scripts/Order.js?version=") + DateTime.Now.Ticks + "\" type=\"text/javascript\" ></script>";    
}

<h2>Index</h2>
