<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="log4net" type="NTTMNC.BPM.Fx.Core.Log4net.Config.Log4NetConfigurationSectionHandler, NTTMNC.BPM.Fx.K2" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!-- Linda Liu Code-->
		<add key="AssetMgrCode" value="E5021578" />
		<add key="webHost" value="http://172.24.130.43:10082/" />
		<add key="ContractAttachServer" value="http://1.1.2.5:9000/PMT/upload?action=download&amp;fileName=" />
		<!-- 是否需要获取PMT系统中的任务数量 -->
		<add key="GetPMTTask" value="false" />
		<!-- 获取PMT任务数量的URL -->
		<add key="Get_PMT_TaskUrl" value="http://10.252.224.51:9000/PMT/GetPMTTask?eid={0}" />
		<!-- 从AM跳转到PMT的连接URL -->
		<add key="AM_To_PMT_RedirectUrl" value="http://10.252.224.51:9000/PMT/upload?action=AMToPMT{0}" />
		<!-- HTML转换为Image之后在服务器上存放的路径 -->
		<add key="HtmlConversionFolder" value="UploadFiles" />
		<!-- K2 Host服务连接字符串_测试 -->
		<add key="K2HostServiceString" value="Integrated=False;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=False;Host=172.24.130.43;Port=5555;SecurityLabelName=K2SQL;UserID=K2Admin;Password=K2pass!" />
		<!-- K2 Workflow服务连接字符串_测试 -->
		<add key="K2ServiceLoginString" value="Integrated=False;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=False;Host=172.24.130.43;Port=5252;SecurityLabelName=K2SQL;UserID=K2Admin;Password=K2pass!" />
		<!-- 
    Host: K2 服务器 IP
    Admin: 默认管理员帐号
    SecurityLabel: 默认流程审批查看用户校验标签(K2SQL, K2) 
    -->
		<add key="K2Settings" value="{'Host':'172.24.130.43','Admin':'K2Admin','SecurityLabel':'K2SQL','K2Version':'4.6.6'}" />
		<add key="K2ServiceSettings" value="{'MD5Key':'123456'}" />
		<add key="K2ConfigFileAddress" value="" />
		<!--ClosurePackage根据配置项决定最后一步发给谁处理-->
		<add key="ClosurePackage_SignedPackage_Receiver" value="1527500:E5021578" />
		<add key="ReimagePackage_Hold_Role" value="MCCL_Asset_Mgr" />
		<!--报表相关 Start-->
		<add key="DbHelperProvider" value="System.Data.SqlClient" />
		<!--报表相关 End-->
	</appSettings>
	<connectionStrings>
		<add name="McdAMEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.130.43;initial catalog=MCD_AM;integrated security=False;user id=mcd_am_user;password=!qaz2wsX;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		<add name="BPM_K2Sln" connectionString="Data Source=172.24.130.43;Initial Catalog=MCD_WorkflowCenter;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Connect Timeout=60; Pooling=true; Max Pool Size=100; Min Pool Size=5" providerName="System.Data.SqlClient" />
		<add name="BPM_Data" connectionString="Data Source=172.24.130.43;Initial Catalog=MCD_PMT;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Connect Timeout=60; Pooling=true; Max Pool Size=100; Min Pool Size=5" providerName="System.Data.SqlClient" />
		<add name="K2ServerConnectionString" connectionString="Data Source=172.24.130.43;Initial Catalog=K2;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Connect Timeout=60; Pooling=true; Max Pool Size=100; Min Pool Size=5" providerName="System.Data.SqlClient" />
		<add name="K2ServerLogConnectionString" connectionString="Data Source=172.24.130.43;Initial Catalog=K2;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Connect Timeout=60; Pooling=true; Max Pool Size=100; Min Pool Size=5" providerName="System.Data.SqlClient" />
		<add name="K2SQLUM" connectionString="Data Source=172.24.130.43;Initial Catalog=K2SQLUM;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Connect Timeout=60; Pooling=true; Max Pool Size=100; Min Pool Size=5" providerName="System.Data.SqlClient" />
		<add name="BPM_K2SlnEntities" connectionString="metadata=res://*/K2SlnDB.csdl|res://*/K2SlnDB.ssdl|res://*/K2SlnDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.130.43;initial catalog=MCD_WorkflowCenter;persist security info=True;user id=MCD_AM_User;password=!qaz2wsX;pooling=True;min pool size=5;max pool size=100;connect timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" executionTimeout="10000000000" maxRequestLength="1000000000" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<verbs>
					<add verb="POST" allowed="true" />
				</verbs>
				<requestLimits maxAllowedContentLength="4294967295" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Cache-Control" value="no-cache" />
			</customHeaders>
		</httpProtocol>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<!--<dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>-->
		</assemblyBinding>
	</runtime>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>


	<log4net>
		<appender name="InfoFileAppender" type="NTTMNC.BPM.Fx.Core.Log4net.Appender.RollingFileAppender">
			<file value="log/info/" />
			<appendToFile value="true" />
			<param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="1024KB" />
			<staticLogFileName value="false" />
			<Encoding value="UTF-8" />
			<filter type="NTTMNC.BPM.Fx.Core.Log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="DEBUG" />
				<param name="LevelMax" value="INFO" />
			</filter>
			<layout type="NTTMNC.BPM.Fx.Core.Log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger  - %message%newline" />
			</layout>
		</appender>
		<appender name="ErrorFileAppender" type="NTTMNC.BPM.Fx.Core.Log4net.Appender.RollingFileAppender">
			<file value="log/error/" />
			<param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="10240KB" />
			<staticLogFileName value="false" />
			<Encoding value="UTF-8" />
			<filter type="NTTMNC.BPM.Fx.Core.Log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="WARN" />
				<param name="LevelMax" value="FATAL" />
			</filter>
			<layout type="NTTMNC.BPM.Fx.Core.Log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<!-- 日志级别(OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL，缺省为DEBUG) -->
			<level value="ALL" />
			<appender-ref ref="InfoFileAppender" />
			<appender-ref ref="ErrorFileAppender" />
		</root>
	</log4net>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IEmailService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://172.24.130.43:10070/NTTMNC.BPM.Fx.EmailServices/EmailService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService" contract="EmailServiceReference.IEmailService" name="BasicHttpBinding_IEmailService" />
		</client>
	</system.serviceModel>
</configuration>