@{
    ViewBag.Title = "产品类别";
    ViewBag.ScriptPath = "<script src =\"" + Url.Content("~/Scripts/Categorys.js?version=") + DateTime.Now.Ticks + "\" type=\"text/javascript\" ></script>";
}

<h2>Index</h2>
