
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app>
<head>
    <meta name="viewport" content="width=device-width" />
    
        <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <title>AM Test Portal</title>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <style>
            li {
                list-style: none;
            }

            .dic-Search {
                height: 130px;
            }

            .dic-Search h1 {
                font-size: 16px;
                padding: 10px;
            }

            .dic-Search li {
                float: left;
                width: 260px;
            }

            .li-clear {
                clear: both;
            }

            .dic-add li {
                float: left;
            }

            .dic-grid {
                width: 1000px;
            }

            .dic-header {
                height: 30px;
            }

            .dic-grid td {
                width: 200px;
                text-align: center;
            }
        </style>

   
</head>
<body>
    <div> 
        
    </div>
</body>
</html>
