
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AM Test Portal Login</title>
</head>
<body>
    <div> 
        <input type="text" ID="txtAccount"/>
        <input type="button" ID="btn" class="btn btn-default" ng-click="login()" Text="登录" />
    </div>
</body>
</html>
