
@{
    Layout = null;
}
<div>
      <div>
        <a href="#/closure/Create">
            创建项目
        </a>
    </div>
    <div>
        <a href="#/closure/ProjectList">
            项目列表
        </a>
    </div>
</div>