@{
    Layout = null;
}
<task-reminder></task-reminder>
<top-nav project-id="{{projectId}}" flow-code="Closure" sub-code="Closure_LegalReview" place-holder="8"></top-nav>
<cheking-point project-id="projectId" flow-code="Closure_LegalReview" refresh="checkPointRefresh"></cheking-point>
<legal-review-store-basic-info project="ClosureInfo" code="ClosureInfo.USCode"></legal-review-store-basic-info>

<notification-message project-id="projectId"
    flow-code="Closure"
    sub-flow-code="Closure_LegalReview"
    node-id="legalView.Id"
    uscode="ClosureInfo.USCode"></notification-message>

<div class="panel panel-black mg_t_10">
    <div class="panel-heading">
        <span class="panel-icon"></span>
        <span class="panel-title">[[[关店信息]]]
        </span>
    </div>
    <div class="panel-body form-horizontal" role="form">
        <div class="form-group">
            <label class="col-xs-2 control-label">[[[关店类型]]]</label>
            <div class="col-xs-2 pd_t_7">
                {{ClosureInfo.ClosureTypeNameENUS}}
            </div>
            <label class="col-xs-2 control-label">[[[关店日期]]]</label>
            <div class="col-xs-2 pd_t_7">
                {{ClosureInfo.ActualCloseDate | date:"yyyy-MM-dd"}}
            </div>
            <label class="col-xs-2 control-label">[[[关店原因]]]</label>
            <div class="col-xs-2 pd_t_7">
                {{ClosureInfo.ClosureReasonNameENUS}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">[[[租约到期日期]]]</label>
            <div class="col-xs-2 pd_t_7">
                {{ClosureInfo.LeaseExpireDate | date:"yyyy-MM-dd"}}
            </div>
            <label class="col-xs-2 control-label">[[[Landlord Name]]]</label>
            <div class="col-xs-2 pd_t_7">
                {{ClosureInfo.LandlordName}}
            </div>
            <label class="col-xs-2 control-label"></label>
            <div class="col-xs-2 pd_t_7">
            </div>
        </div>
    </div>
</div>
<contact-info uscode="ClosureInfo.USCode" project-id="projectId"></contact-info>

<attachments ref-table-name="ClosureLegalReview"
    project-id="{{projectId}}"
    flow-code="Closure_LegalReview"
    editable="true"
    upload-set="['8ac4a256-4b07-4e65-bf82-5df8023e3291']"
    show-contract="true"></attachments>

<approval-records workflow-type="Closure" ref-table-id="legalView.Id" ref-table-name="ClosureLegalReview"></approval-records>
<comment comments="legalView.Comments" editable="true" title="[[[意见]]]" editable="true"></comment>
<project-history page-url="/closure/Main#/LegalReview/Process/View?projectId={{projectId}}" project-id="projectId" table-name="ClosureLegalReview" title=" ClosureLegalReview History" has-template="false" title-name="LegalReview"></project-history>


<div class="form-actions ta_c">
    <button type="button" class="btn btn-lg btn-orange" ng-click="saveLegalReview()"><span class="fa fa-paste"></span>[[[保存]]]</button>
    <button type="button" class="btn btn-lg btn-red" ng-click="beginSelApprover(ClosureInfo)"><span class="fa fa-check"></span>[[[呈递]]]</button>
</div>
