@{
    Layout = null;
}
<closure-nav projectid="{{projectId}}" code="siteInfo"></closure-nav>
<div class="step-project">
    <a class="step-project-item passed">
        <span class="step-project-icon">
            <span class="fa fa-chevron-right"></span>
            <span class="fa fa-chevron-right fa-mid"></span>
            <span class="fa fa-chevron-right"></span>
        </span>
        呈递Site Info            
    </a>
    <a class="step-project-item current">
        <span class="step-project-icon">
            <span class="fa fa-chevron-right"></span>
            <span class="fa fa-chevron-right fa-mid"></span>
            <span class="fa fa-chevron-right"></span>
        </span>
        核对信息               
    </a>
    <a class="clear"></a>
</div>

<div id="divInfo" class="panel panel-33393F mg_t_10">
    <div class="panel-heading clearfix">
        Signage & CarPark<
    </div>
    <div class="panel-body form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Is Pole Signage</label>
            <div class="col-sm-2 pd_t_7">
                <input type="radio" />Yes<input type="radio" />No
            </div>
            <label class="col-sm-2 control-label">No. of Pole Signage</label>
            <div class="col-sm-2 pd_t_7">
                <input class="form-control" />
            </div>
            <label class="col-sm-2 control-label">Shopfornt Effectivity</label>
            <div class="col-sm-2 pd_t_7">
                <select></select>
            </div>
        </div>
    </div>
    <div class="panel-body form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Is Directional Signage</label>
            <div class="col-sm-2 pd_t_7">
                <input type="radio" />Yes<input type="radio" />No
            </div>
            <label class="col-sm-2 control-label">No. of Pole Signage</label>
            <div class="col-sm-2 pd_t_7">
                <input class="form-control" />
            </div>
            <label class="col-sm-2 control-label">Facade(m)</label>
            <div class="col-sm-2 pd_t_7">
                <input class="form-control" />
            </div>
        </div>
    </div>
    <div class="panel-body form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">No. of Egress</label>
            <div class="col-sm-2 pd_t_7">
                <input class="form-control" />
            </div>
            <label class="col-sm-2 control-label">No. of  Ingress</label>
            <div class="col-sm-2 pd_t_7">
                <input class="form-control" />
            </div>
            <label class="col-sm-2 control-label">No. of Curb Cut</label>
            <div class="col-sm-2 pd_t_7">
                <input class="form-control" />
            </div>
        </div>
    </div>

    <div class="panel-body form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">No. of Mcd CarPark</label>
            <div class="col-sm-2 pd_t_7">
                <input class="form-control" />
            </div>
            <label class="col-sm-2 control-label">No. of  Easement CarPark</label>
            <div class="col-sm-2 pd_t_7">
                <input class="form-control" />
            </div>
            <label class="col-sm-2 control-label">No. of Cheating CarPark</label>
            <div class="col-sm-2 pd_t_7">
                <input class="form-control" />
            </div>
        </div>
        <div class="panel-body form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Total CarPark</label>
            <div class="col-sm-2 pd_t_7">
                <input class="form-control" />
            </div>
            <label class="col-sm-2 control-label">Portfolio Type</label>
            <div class="col-sm-2 pd_t_7">
                <input class="form-control" />
            </div>
            <label class="col-sm-2 control-label">DT Type</label>
            <div class="col-sm-2 pd_t_7">
                <input class="form-control" />
            </div>
        </div>
    </div>
    </div>
</div>
