@{
    Layout = null;
}
<task-reminder></task-reminder>
<top-nav project-id="{{projectId}}" flow-code="Renewal" sub-code="Renewal_ConfirmLetter" place-holder="11" ng-show="!isHistory"></top-nav>
<cheking-point project-id="projectId" flow-code="Renewal_ConfirmLetter" refresh="checkPointRefresh" ng-show="!isHistory"></cheking-point>
<store-basic-info code="info.USCode" workflow-type="Renewal_Letter" project="info" store="store"></store-basic-info>
<attachments ref-table-name="RenewalConfirmLetter"
    list="attachments"
    project-id="{{projectId}}"
    flow-code="Renewal_ConfirmLetter"
    ref-table-id="{{confirmLetter.Id}}"
    upload-set="viewUploadSet"
    show-contract="false"
    editable="{{savable}}"></attachments>
<attachments-memo project-id="projectId"
    flow-code="Renewal">
</attachments-memo>
@*<project-history project-id="projectId" table-name="RenewalConfirmLetter" title="Renewal ConfirmLetter History"
    page-url="/Renewal/Main#/ConfirmLetter/Process/View?projectId={{projectId}}"
    title-name="Renewal ConfirmLetter History" ng-show="!isHistory" has-template="false"></project-history>*@
<notification-message project-id="projectId"
    flow-code="Renewal"
    sub-flow-code="Renewal_ConfirmLetter"
    node-id="confirmLetter.Id"
    uscode="info.USCode"></notification-message>
<div class="form-actions ta_c" ng-if="from!='useraction'">
    <button type="button" class="btn btn-lg btn-orange" ng-disabled="acting" ng-if="savable" ng-click="save()"><span class="fa fa-edit"></span>[[[保存]]]</button>
    <button type="button" class="btn btn-lg btn-yellow" ng-disabled="acting" ng-if="editable" ng-click="edit()"><span class="fa fa-edit"></span>[[[编辑]]]</button>
    <button type="button" class="btn btn-lg btn-orange" ng-disabled="acting" ng-if="recallable" ng-click="recall()">[[[撤回]]]</button>
</div>
