<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="Expose178Com"
         connectionString="Server=localhost;Database=Expose178Com;UID=Expose178Com;PWD=Expose178.Com" 
         providerName="System.Data.SqlClient"/>
    <add name="DSN"
         connectionString="Server=localhost;Database=XXXXXX;UID=XXXXXX;PWD="
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="WebDAL" value="Expose178.Com.SQLServerDAL"/>
    <add key="LogAssembly" value="Expose178.Com.Utility"/>
    <add key="LogDBClass" value="SystemLogToDB"/>
    <add key="LogFileClass" value="SystemLogToFile"/>
    <add key="LogPath" value="/Expose178Log"/>
    <add key="EmailAssembly" value="Expose178.Com.Utility"/>
    <add key="EmailClass" value="SMTPEmail"/>
    <add key="CacheExpose178Com" value="Expose178Com"/>
    <add key="EnableCache" value="false"/>
    <add key="UserCacheDuration" value="3"/>
    <add key="EnableUserCache" value="false"/>
    <add key="ArticleCacheDuration" value="10"/>
    <add key="ArticleTitleCacheDuration" value="10"/>
    <add key="LayoutMenu" value="tbl_LayoutMenu"/>
    <add key="Ads" value="tbl_Advertisement"/>
    <add key="Article" value="tbl_Article"/>
    <add key="CacheDependencyAssembly" value="Expose178.Com.TableCacheDependency"/>
    <add key="SiteName" value="Expose178"/>
    <add key="BackgroundImg" value=""/>
    <add key="Logo" value=""/>
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <caching>
      <sqlCacheDependency enabled="true" pollTime="10000">
        <databases>
          <add connectionStringName="Expose178Com" name="Expose178Com"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages validateRequest="false" >
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
