@{
    Layout = null;
}
<form class="form-horizontal" name="frmMain">
    <task-reminder></task-reminder>
    <div ng-hide="isHistory">
        <top-nav project-id="{{projectId}}" flow-code="Closure" sub-code="Closure_ClosurePackage" place-holder="8"></top-nav>
        <cheking-point project-id="projectId" flow-code="Closure_ClosurePackage" refresh="checkPointRefresh"></cheking-point>
    </div>
    <store-basic-info project="ClosureInfo" code="ClosureInfo.USCode"></store-basic-info>


    <div class="panel panel-black mg_t_10">
        <div class="panel-heading">
            <span class="panel-icon"></span>
            <span class="panel-title">[[[Executive Summary]]]
            </span>
        </div>
        <table class="table table-bordered">
            <tr>
                <td>[[[关店类型]]]</td>
                <td>{{ClosureInfo.ClosureTypeNameENUS}}</td>
                <td>[[[Original CF NPV]]]</td>
                <td colspan="3">{{entity.OriginalCFNPV | money}}
                </td>
            </tr>
            <tr>
                <td>[[[租约到期日期]]]</td>
                <td>{{store.StoreContractInfo.EndDate | date:"yyyy-MM-dd"}}</td>
                <td>[[[LandloadName]]] </td>
                <td colspan="3">{{ClosureInfo.LandlordName}}</td>

            </tr>
            <tr>
                <th colspan="6">[[[OI Impact on Current Year]]]</th>
            </tr>
            <tr>
                <td>[[[Total write off data]]]</td>
                <td>{{ClosureTool.TotalOneOffCosts| money}}</td>
                <td>[[[Compensation]]] </td>
                <td>{{ClosureTool.Compensation| money}}</td>
                <td>[[[Net Operating Income]]]</td>
                <td>{{entity.NetOperatingIncome| money}}</td>
            </tr>
            <tr>
                <th colspan="6">[[[Current Future Impact]]]</th>
            </tr>
            <tr>
                <td>[[[迁址?]]]</td>
                <td>{{entity.IsRelocation|boolFilter}}
                </td>
                <td>[[[Relocation Pipeline ID]]] </td>
                <td>{{entity.RelocationPipelineID}}

                </td>
                <td>[[[Pipeline Name]]]</td>
                <td>{{entity.PipelineName}}

                </td>
            </tr>
            <tr>
                <td>[[[New Site Net CF NPV]]]</td>
                <td>
                {{entity.NewSiteNetCFNPV | money}}
                <td>[[[Other CF NPV]]] </td>
                <td ng-show="enableSave">
                    <input class="form-control" name="otherCFNPV" type="text" valnumber required ng-model="entity.OtherCFNPV" />
                    <err-msgs field="frmMain.otherCFNPV" submited="$submited"></err-msgs>
                </td>
                <td ng-show="!enableSave">{{entity.OtherCFNPV | money}}
                </td>
                <td>[[[Net CF NPV（RMB）]]]</td>
                <td>
                    <span id="spNetGain" ng-show="!!entity.NetGain">{{entity.NetGain |money}}
                    </span>

                </td>
            </tr>
        </table>
    </div>

    <div class="panel panel-black mg_t_10">
        <div class="panel-heading">
            <span class="panel-icon"></span>
            <span class="panel-title">[[[Reason Description for Negative Net CF NPV]]]
            </span>
        </div>
        <div class="panel-body" ng-show="enableSave">
            <textarea class="form-control" rows="4" ng-model="entity.ReasonDescriptionForNegativeNetGain"></textarea>
        </div>
        <div class="panel-body" ng-show="!enableSave">
            <pre class="pre">{{entity.ReasonDescriptionForNegativeNetGain}}</pre>
        </div>
    </div>

    <attachments ref-table-name="ClosurePackage"
        project-id="{{projectId}}"
        flow-code="Closure_ClosurePackage"
        editable="false"
        ref-table-id="{{entityId}}"
        show-pack-download="true"
        upload-set="uploadSet"
        is-history="isHistory"></attachments>

    <approval-records ref-table-id="entity.Id" ref-table-name="ClosurePackage" workflow-type="Closure"></approval-records>
    <div ng-hide="isHistory">
        <project-history page-url="/closure/Main#/ClosurePackage/Process/View?projectId={{projectId}}" project-id="projectId" table-name="ClosurePackage" title=" ClosurePackage History" has-template="false" title-name="ClosurePackage"></project-history>

        <notification-message project-id="projectId"
            flow-code="Closure"
            sub-flow-code="Closure_ClosurePackage"
            node-id="entity.Id"
            uscode="ClosureInfo.USCode"></notification-message>

        <div class="form-actions ta_c" ng-hide="isUserAction">
            <button type="button" ng-show="enableEdit" class="btn btn-lg btn-yellow" ng-click="editPackage()"><span class="fa fa-edit"></span>[[[编辑]]]</button>
            <button type="button" ng-show="enableReCall" class="btn btn-lg btn-orange" ng-click="beginReCall(ClosureInfo)">[[[撤销]]]</button>
            <button type="button" class="btn btn-lg btn-warning" ng-if="enableSave" ng-click="savePackage()"><span class="fa fa-check"></span>[[[保存]]]</button>
        </div>
    </div>
</form>
