
@{
    Layout = null;
}
<form name="frm">
    <task-reminder></task-reminder>
    <top-nav project-id="{{projectId}}" flow-code="Reimage" sub-code="Reimage_TempClosureMemo" place-holder="10"></top-nav>
    <cheking-point project-id="projectId" flow-code="Reimage_TempClosureMemo" refresh="checkPointRefresh"></cheking-point>

    <temp-closure-memo project-id="{{projectId}}" editable="isPageEditable" source="entity"></temp-closure-memo>

    <notification-message project-id="projectId"
                          flow-code="Reimage"
                          sub-flow-code="Reimage_TempClosureMemo"
                          node-id="entity.Id"
                          uscode="entity.USCode"></notification-message>

    <div class="form-actions ta_c" ng-show="isPageEditable">
        <button type="button" class="btn btn-lg btn-orange" ng-click="save()" ng-disabled="acting"><span class="fa fa-paste"></span>[[[保存]]]</button>
        <button type="button" class="btn btn-lg btn-red" ng-show="unNotify" ng-click="notify(frm)" ng-disabled="acting"><span class="fa fa-check"></span>[[[通知]]]</button>
    </div>
    @*<div ng-switch on="pageType">
        <div class="form-actions ta_c" ng-switch-default>
            <button type="button" class="btn btn-lg btn-orange" ng-click="save()" ng-disabled="acting"><span class="fa fa-paste"></span>[[[保存]]]</button>
            <button type="button" class="btn btn-lg btn-red" ng-show="unNotify" ng-click="notify(frm)" ng-disabled="acting"><span class="fa fa-check"></span>[[[通知]]]</button>
        </div>
        <div class="form-actions ta_c" ng-switch-when="View">
            <button type="button" class="btn btn-lg btn-orange" ng-click="save()" ng-disabled="acting" ng-show="IsShowSave"><span class="fa fa-paste"></span>[[[保存]]]</button>
        </div>
    </div>*@
</form>