@{
    ViewBag.Title = "Index";
}
<table>
    <tr>
        <td><a href="@Url.Action("Index","Manage")">文章分类</a></td>
        <td><a href="@Url.Action("Index","Manage")">阅读权限分类</a></td>
    </tr>
</table>