
@{
    Layout = null;
}
<form name="frm">
    <task-reminder></task-reminder>
    <temp-closure-memo project-id="{{projectId}}" editable="isPageEditable" source="entity"></temp-closure-memo>

    <div class="form-actions ta_c" ng-show="isPageEditable">
        <button type="button" class="btn btn-lg btn-orange" ng-click="save()" ng-disabled="acting"><span class="fa fa-paste"></span>[[[保存]]]</button>
        <button type="button" class="btn btn-lg btn-red" form-submit ng-show="unNotify" ng-click="notify(frm)" ng-disabled="acting"><span class="fa fa-check"></span>[[[通知]]]</button>
    </div>
</form>