@{
    Layout = null;
}
<form name="frmMain">
    <task-reminder></task-reminder>
    <top-nav project-id="{{projectId}}" flow-code="MajorLease" sub-code="MajorLease_ContractInfo" place-holder="11" ng-show="!isHistory"></top-nav>
    <cheking-point project-id="projectId" flow-code="{{subFlowCode}}" refresh="checkPointRefresh"></cheking-point>
    <contract-info project-id="{{projectId}}" flow-code="{{subFlowCode}}" editable="isPageEditable" contract="contract" revisions="revisions" trans-att-list="attlist"></contract-info>
    @*<div ng-switch="pageType" ng-show="!consInfo.IsProjectFreezed">*@
    <div ng-switch on="pageType">
        <div class="ta_c mg_t_10" ng-switch-when="Approval">
            <button type="button" class="btn btn-lg btn-warning" ng-click="save()"><span class="fa fa-check"></span>[[[保存]]]</button>
            <button type="button" class="btn btn-lg btn-red" form-submit ng-disabled="confirmed" ng-click="confirm(frmMain)"><span class="fa fa-check"></span>[[[确认]]]</button>
        </div>
        <div class="ta_c mg_t_10" ng-switch-default>
            <button type="button" class="btn btn-lg btn-warning" ng-click="save()" ng-show="MajorLeaseInfo.IsContractInfoSaveable"><span class="fa fa-check"></span>[[[保存]]]</button>
        </div>
    </div>
    <attachments-memo project-id="projectId"
                      flow-code="MajorLease">
    </attachments-memo>
    <notification-message project-id="projectId"
                          flow-code="MajorLease"
                          sub-flow-code="{{subFlowCode}}"
                          node-id="contract.Id"
                          uscode="MajorLeaseInfo.USCode"></notification-message>
</form>