<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Mcd_AM Service</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="K2ServerLogConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.24.130.43;Initial Catalog=K2;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Pooling=True;Min Pool Size=5;Max Pool Size=100;Connect Timeout=60" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\K2ServerLogConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.24.130.43;Initial Catalog=K2;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Connect Timeout=60; Pooling=true; Max Pool Size=100; Min Pool Size=5" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="K2ServerConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.24.130.43;Initial Catalog=K2;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Pooling=True;Min Pool Size=5;Max Pool Size=100;Connect Timeout=60" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\K2ServerConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.24.130.43;Initial Catalog=K2;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Connect Timeout=60; Pooling=true; Max Pool Size=100; Min Pool Size=5" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BPM_K2SlnEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.24.130.43;Initial Catalog=MCD_WorkflowCenter;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Pooling=True;Min Pool Size=5;Max Pool Size=100;Connect Timeout=60;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BPM_K2SlnEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/K2SlnDB.csdl|res://*/K2SlnDB.ssdl|res://*/K2SlnDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.130.43;initial catalog=MCD_WorkflowCenter;persist security info=True;user id=MCD_AM_User;password=!qaz2wsX;pooling=True;min pool size=5;max pool size=100;connect timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="McdAMEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.24.130.43;Initial Catalog=MCD_AM;Integrated Security=False;User ID=mcd_am_user;Password=!qaz2wsX;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\McdAMEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.130.43;initial catalog=MCD_AM;integrated security=False;user id=mcd_am_user;password=!qaz2wsX;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BPM_K2Sln" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.24.130.43;Initial Catalog=MCD_WorkflowCenter;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Pooling=True;Min Pool Size=5;Max Pool Size=100;Connect Timeout=60" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BPM_K2Sln_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.24.130.43;Initial Catalog=MCD_WorkflowCenter;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Connect Timeout=60; Pooling=true; Max Pool Size=100; Min Pool Size=5" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BPM_Data" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.24.130.43;Initial Catalog=MCD_PMT;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Pooling=True;Min Pool Size=5;Max Pool Size=100;Connect Timeout=60" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BPM_Data_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.24.130.43;Initial Catalog=MCD_PMT;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Connect Timeout=60; Pooling=true; Max Pool Size=100; Min Pool Size=5" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="K2SQLUM" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.24.130.43;Initial Catalog=K2SQLUM;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Pooling=True;Min Pool Size=5;Max Pool Size=100;Connect Timeout=60" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\K2SQLUM_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.24.130.43;Initial Catalog=K2SQLUM;Persist Security Info=True;User ID=MCD_AM_User;Password=!qaz2wsX;Connect Timeout=60; Pooling=true; Max Pool Size=100; Min Pool Size=5" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BPM_Data-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BPM_K2Sln-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BPM_K2SlnEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)K2ServerConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)K2ServerLogConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)K2SQLUM-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)McdAMEntities-Web.config Connection String" />
  </ItemGroup>
</Project>