@{
    Layout = null;
}
<div class="modal-header">
    <h3 class="modal-title">[[[选择任务接收人]]]</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="frmSelectApprovers" novalidate>
        <div class="form-group">
            <label class="control-label col-xs-2">[[[Legal]]]</label>
            <div class="col-xs-4 pd_t_7">
                <select chosen="{disable_search:true}" class="form-control" ng-model="selLegal" required ng-options="m.NameENUS for m in legalList">
                    <option value="">[[[-- 请选择 --]]]</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-primary" ng-click="ok()">[[[提交]]]</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-sm btn-warning" ng-click="cancel()">[[[取消]]]</button>
</div>
